*{
    margin: 0.2pxs;
    padding: 0.2px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


.hero{
    height:100vh ;
    width: 100%;
    background-color: black;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
 }
 
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 8%;
    padding-right: 8%;
   
 }

 .logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    
 }
 nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:  20px;
    margin: 5px;
 }
nav ul li a{
    color: rgb(203, 141, 15);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 25px;
}
nav ul li a:hover{
    color: rgb(35, 90, 100);
    transition: .3s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}


.imgg {
    flex: 1; 
    display: flex;
    justify-content: right; 
    align-items:flex-end; 
    padding: 0px 150px 0px 0px;

}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 20px;
}
.main{
    background-color: black;
    flex: 1; 
    display: flex;
    justify-content: left; 
    align-items:flex-start; 
    padding: 0px 0px 0px 100px;

}
.about{

    width: 100%;
    padding: 10px 10px;
    background-color:black;
    color: white;
}

.h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.h5{
    color: white;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.skills{
    background-color: black;

}
.skills h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.matter{
    color: white;
    font-size: 50px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    justify-content: space-between;
}
.contact{
    background-color: black;
}
.contact h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.hima{
    color: white;
    font-size: 40px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}


